<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 mb-20  text-center">

            <!--
            Optional:
                        <f:for each="{departments}" as="department" iteration="it">
                            <f:link.action arguments="{d_id: department.uid}">{department.name}</f:link.action> &nbsp; <i class="fa fa-book lg" aria-hidden="true"> </i> &nbsp;
                        </f:for>
                          <div class="department-underline"></div>
               -->

        </div>
    </div>
    <div class="row mt-4">
        <f:for each="{persons}" as="person" iteration="it">
            <div class="col-12 col-lg-3 col-sm-6 col-md-6 pt-2 pb-2">
                <div class="contimg-container mx-auto">
                    <a href="#">
                        <v:media.image src="{person.image.uid}" alt="{person.image.alttext}" title="{person.firstname} {person.lastname}" treatIdAsReference="true" width="360" height="460c" class="img-fluid"/></a>
                    <div class="team-overlay{f:if(condition:person.qrcodeImage, then: ' has-qrcode')}">
                        <div class="overlay-text mt-2 ml-2 text-center">
                            <p><strong>{person.firstname} {person.lastname}</strong></p>
                            <p><f:format.raw>{person.activity}</f:format.raw></p>
                            <p>Tel.: <a href="tel:{person.phone}"> {person.phone}</a></p>
                            <f:if condition="{person.email}">
                                <p >E-Mail senden:<br> <f:link.email email="{person.email}">{person.email}</f:link.email></p>
                            </f:if>
                        </div>
                        <f:if condition="{person.qrcodeImage}">
                            <div class="person-qrcode">
                                <img src="{person.qrcodeImage.originalResource.publicUrl}" alt="{f:if(condition: person.qrcodeImage.alternative, then: person.qrcodeImage.alternative, else: '{person.firstname} {person.lastname}')}" class="img-fluid" />
                            </div>
                        </f:if>
                    </div>
                    <div class="namerole member-bottom text-center mt-2">
                        <strong>{person.firstname} {person.lastname}</strong><br>
                        <f:format.raw>{person.activity}</f:format.raw>
                    </div>
                </div>
            </div>

            <!-- End Member Hidden -->

        </f:for>
    </div>

    <v:asset.script name="iea"  dependencies="jquery" standalone="0" >
        $(document).ready(function(){
        if (/MSIE (\d+\.\d+);/.test(navigator.userAgent) || navigator.userAgent.indexOf("Trident/") > -1 ){
        $(".contimg-container").css("width", "250px");
        console.log("IE")
        }
        else{
        console.log("not IE")
        }

        });

    </v:asset.script>

</html>