
.contimg-container .team-overlay.has-qrcode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: visible;
    align-items: center;
    background: transparent;
    opacity: 0;
}

.team-overlay.has-qrcode::before {
    content: "";
    display: block;
    background: #fcfcfc;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}
.team-overlay .person-qrcode {
  background: #fff;
  position: relative;
  flex: 0 0 auto;
  max-width: 50%;
  margin: 0 auto;
}

.team-overlay.has-qrcode .overlay-text {
  position: relative;
  bottom: auto;
  left: 0;
  padding-top: 10px;
}

.contimg-container:hover .team-overlay.has-qrcode {
  opacity: 1;
}
.contimg-container:hover .team-overlay.has-qrcode::before {
    opacity: 0.8;
}
